<div class="container mb-5 pb-5">
  <h1>Товары в корзине:</h1>
  <% @items_in_cart.each do |item| %>
  <div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-3">
      <%= image_tag item.image, class: "card-img-top" %>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h5><%= item.title %></h5>
        <p class="card-text"><%= item.description %></p>
      </div>
    </div>
  </div>
</div>
  <% end %>
</div>
<div class="container mb-5 pb-5">
  <% if current_cart.length > 0 %>
    <h1>Товары в корзине:</h1>
    <% @items_in_cart.each do |item| %>
    <% end %>
    <%= form_with model: @order, class: " col-xs-12 col-md-6 m-auto" do |f| %>
  <h3>Данные для заказа</h3>
  <div class="form-group">
    <label for="name">Имя:</label>
    <%= f.text_field :name, id: 'name', class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <%= f.text_field :email, id: 'name', type: 'email', class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <label for="phone">Телефон:</label>
    <%= f.text_field :phone, id: 'phone', type: 'phone', class: 'form-control', required: true %>
  </div>
  <div class="text-center">
    <%= f.submit "Оформить заказ", class: "btn btn-primary" %>
  </div>
<% end %>
  <% else %>
    <h1>Корзина пуста</h1>
  <% end %>
</div>